@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as var;

@import url(var.$font-url);

body {
  color: var.$copy-colour;
  line-height: var.$copy-leading;
  font: var.$copy-font;
}

h1,
h2 {
  color: var.$heading-colour;
  line-height: var.$heading-leading;
  font-weight: var.$heading-font-weight;
  font-family: var.$heading-font-family;
}

h1 {
  font-size: var.$heading-main-font-size;
}

h2 {
  font-size: var.$heading-secondary-font-size;
}

a {
  transition: var.$link-transition;
  transition-property: var.$link-transition-property;
  color: var.$link-colour;
  text-decoration: var.$link-decoration;

  @include mixin.hover-focus {
    color: var.$link-colour-active;
    text-decoration: var.$link-decoration-active;
  }
}
