@use 'functions' as func;

// ---------- COLOURS

// Remove any colours that are not in use
$colour-neutral-100: null;
$colour-neutral-200: null;
$colour-neutral-300: null;
$colour-neutral-400: null;
$colour-neutral-500: null;
$colour-neutral-600: null;
$colour-neutral-700: null;
$colour-neutral-800: null;
$colour-neutral-900: null;

$colour-primary-100: null;
$colour-primary-200: null;
$colour-primary-300: null;
$colour-primary-400: null;
$colour-primary-500: null;
$colour-primary-600: null;
$colour-primary-700: null;
$colour-primary-800: null;
$colour-primary-900: null;

// ---------- TYPOGRAPHY
$font-url: '';

// Remove any font weights that are not in use
$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

// Remove any font families that are not in use. You will need to keep
// $font-family-primary or else you will run into errors.
$font-family-primary: null;
$font-family-secondary: null;

// ----- Copy
$copy-colour: null;
$copy-leading: null;
$copy-font-weight: null;
$copy-font-size: null;
$copy-font-family: $font-family-primary;

$copy-font: $copy-font-weight $copy-font-size $copy-font-family;

// ----- Headings
$heading-colour: $copy-colour;
$heading-leading: null;
$heading-font-weight: null;
$heading-font-family: $font-family-primary;

$heading-main-font-size: null;
$heading-secondary-font-size: null;

// ---------- LINKS
$link-transition: 150ms ease-in-out;
$link-transition-property: null;
$link-colour: null;
$link-colour-active: null;
$link-decoration: none;
$link-decoration-active: none;

// ---------- LAYOUT

// ----- Wrapper
$wrapper-max-width: func.getRem(375);
